$body-font: 'Source Sans Pro', 'Tahoma', 'Helvetica Neue', 'Verdana', sans-serif !default;
$theme-font: 'Titillium Web', 'Roboto', sans-serif !default;
$heading-font: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', sans-serif !default;
$wittl-color: #c48ee3;
$heading-color: #433d47;
$subheading-color: #aaa9aa;
$query-height: 45px;